.talkfact-screen {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px 20px;
  min-height: calc(100vh - 40px);
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.talkfact-screen__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: -150px;
}

.talkfact-screen__number {
  font-size: 125px;
  font-weight: 700;
  color: #ff7320;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.talkfact-screen__text {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  margin: 0;
}

.talkfact-screen .primary-button {
  position: absolute;
  bottom: 14vh;
  left: 20px;
  width: auto;
  max-width: none;
}
