.thanks-screen {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 60px 20px;
  text-align: center;
}

.thanks-screen__title {
  font-size: 32px;
  font-weight: 700;
  color: #ff6a00;
  line-height: 1.3;
}

.thanks-screen__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
}

